<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志输出目录 -->
    <property name="logPath" value="${logPath}" />
    <!-- 读取spring容器中的属性，这里是获取日志打印的级别 -->
    <springProperty scope="context" name="logLevel" source="logLevel" defaultValue="INFO" />
    <springProperty scope="context" name="appName" source="appName" />
    <!-- 自定义logger转换器 -->
    <conversionRule conversionWord="traceId" converterClass="com.wzw.simple.log.convert.TraceIdConvert"/>

    <!-- 日志打印格式 -->
    <property name="logPattern"
              value="{&quot;date&quot;:&quot;%date{yyyy-MM-dd&apos;T&apos;HH:mm:ss.SSS}&quot;,&quot;level&quot;:&quot;%level&quot;,&quot;appName&quot;:&quot;${appName}&quot;,&quot;traceId&quot;:&quot;%traceId&quot;,&quot;thread&quot;:&quot;%thread&quot;,&quot;logger&quot;:&quot;%logger&quot;,&quot;class&quot;:&quot;%class&quot;,&quot;method&quot;:&quot;%method&quot;,&quot;line&quot;:&quot;%line&quot;,&quot;message&quot;:&quot;%replace(%msg){'&quot;', '`'} %ex&quot;}%n" />

    <!-- 控制台日志 -->
    <appender name="console" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger.%method:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 默认日志 -->
    <appender name="default" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 按照时间和大小滚动日志 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logHome}/default.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>3</maxHistory>
            <maxFileSize>2GB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <!-- ERROR日志 -->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 按照时间和大小滚动日志 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logHome}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>3</maxHistory>
            <maxFileSize>2GB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
        <!-- 过滤只接受error日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="default" />
        <appender-ref ref="error" />
    </root>
</configuration>